{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "semi": true,
  "trailingComma": "none",
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "html",
        "printWidth": 120,
        "htmlWhitespaceSensitivity": "css",
        "singleAttributePerLine": true
      }
    },
    {
      "files": ["*.css"],
      "options": {
        "parser": "css",
        "printWidth": 80,
        "singleQuote": false
      }
    }
  ]
}
